package templates

import "github.com/Alfagov/goDashboard/models"

templ PageContainer(page templ.Component, descriptor []*models.TreeSpec) {
	<main class="grid h-full grid-cols-4 grid-rows-6 gap-6">
		@Aside(descriptor)
		<section class="col-span-3 rounded p-4">
			<div id="page-content" class="grid grid-cols-3 gap-4">
				{! page }
			</div>
		</section>
	</main>
}

